:root {
	--maxWidth: 380px;
	--white: #fff;
	--lightGrey: #eee;
	--medGrey: #353535;
	--darkGrey: #1c1c1c;
	--orangeLight: #e0ae09;
	--fontVeryBig: 2.5rem;
	--fontBig: 1.5rem;
	--fontMed: 1.2rem;
	--fontSmall: 1rem;
	--boxShadowDefault: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
}

* {
	box-sizing: border-box;
	font-family: "Open Sans", sans-serif;
}

html {
	font-size: 112.5%;
}

body {
	margin: 0;
	background: linear-gradient(
		90deg,
		rgba(15, 34, 106, 1) 0%,
		rgba(32, 145, 111, 1) 80%
	);
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
h1 {
	font-size: 2rem;
	font-weight: 600;
	color: var(--white);
}

h3 {
	font-size: 1.1rem;
	font-weight: 600;
}

p {
	font-size: 1rem;
	color: var(--white);
}
